@use "./base.scss";

// put your custom CSS here!

// Tiling background image
// body {
//     background-image: none;
// }
// section {
//     background-image: url('../static/nt/ichimatsu_r.gif');
// }

.customCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12.5%;
  }